{% load static %}

{#cargar la libreria#}
{% load bootstrap5 %}

{#cargar css y js de bootstrap#}
{% bootstrap_css %}
{% bootstrap_javascript %}

{#carga mensajes#}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;1,100;1,200;1,300&display=swap" rel="stylesheet">
    <title>Sincron SAS{{Sincron}</title>
</head>
<body  class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Inicio de Sesion</h1>

    <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Correo Electronico</label>
    </div>
    <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
    <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="recordarme"> Recordar Contraseña
    </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesion</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2022</p>>
    
</body>
</html>